.account-page {
  padding: 2rem 0;
}

.account-page a {
  margin-left: 0.25rem;
}

.account-form-container {
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  margin: 0 auto;
  max-width: 450px;
  padding: 1.5rem 1.5rem;
}

.account-form-container form {
  margin-top: 1.5rem;
}