.stock-earnings-history-table {
  margin-top: 1rem;
}

.stock-earnings-history-table table {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.stock-earnings-history-table .tooltip-icon {
  margin-left: 0.25rem;
}