.stock-earnings-table {
  margin-top: 1rem;
}

.stock-earnings-table h5 {
  margin-top: 2rem;
}

.stock-earnings-table .table {
  margin-top: 1rem;
  text-align: left;
}

.stock-earnings-table .tooltip-icon {
  margin-left: 0.25rem;
  color: #666;
}

.stock-earnings-table .enabled-links td {
  cursor: pointer;
}