.App {
  margin-top: 15px;
  margin-bottom: 25px;
}

.App .navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 20px;
}

.search {
  margin-left: 5px;
}

.icon-info {
  color: #000;
  margin-left: 5px;
}